<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLThuVien.Properties.Settings.QLTHUVIENConnectionString"
            connectionString="Data Source=ZED\SQLEXPRESS;Initial Catalog=QLTHUVIEN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="localhost_QLTHUVIEN_Connection" connectionString="XpoProvider=MSSqlServer;data source=ZED\SQLEXPRESS;integrated security=SSPI;initial catalog=QLTHUVIEN" />
        <add name="localhost_QLTHUVIEN_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=ZED\SQLEXPRESS;integrated security=SSPI;initial catalog=QLTHUVIEN" />
        <add name="localhost_QLTHUVIEN_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=ZED\SQLEXPRESS;integrated security=SSPI;initial catalog=QLTHUVIEN" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>